<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ZOM100</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>
<!-- 전체wrap -->
<div class="wrap">
    <!-- 가운데 내용 container -->
    <div class="container">
        <main class="main-wrap">
            <!-- 상단 section -->
            <section class="section1">
                <div class="section1-top">
                    <p class="name" id="userId"></p>
                    <div class="id-box hide">
                        <input type="text" id="changeUserId">
                        <button type="button" id="idChangeDone">OK</button>
                    </div>
                    <button type="button" class="reset">초기화</button>
                </div>
                <h3>좀비가 되기 전 <span class="next-line">하고싶은 100 가지</span></h3>
                <p class="done-text">DONE</p>
                <div class="line"></div>
            </section>
            <!-- 중간 section -->
            <section class="section2">
                <!-- 여기부터 컨텐츠리스트 레이아웃 반복 -->
                <div class="section2-wrap">
                    <th:block th:each="num:${#numbers.sequence(1,20)}">
                    <div class="content">
                        <!-- 숫자 1-100-->
                        <span name="wish-cnt" th:text="${num}">.</span>
                        <input type="text" name="content" class="content-text" maxlength="75">
                        <input type="checkbox" class="check-btn" name="status">
                    </div>
                    <div class="line"></div>
                    </th:block>
                </div>
                <!-- 여기까지 컨텐츠리스트 레이아웃 반복 -->
            </section>
            <section class="section3">
                <!-- 페이징 예시 -->
                <ul class="page-btn-list">
                    <li class="page-btn active">1</li>
                    <li class="page-btn">2</li>
                    <li class="page-btn">3</li>
                    <li class="page-btn">4</li>
                    <li class="page-btn">5</li>
                </ul>
            </section>

        </main>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/js/list.js}"></script>
</body>

</html>