<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZOM100</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<!-- 전체wrap -->
<div class="wrap">
  <!-- 가운데 main -->
  <div class="container">
    <main class="main-wrap">

      <!-- 상단section -->
      <section class="login-top">

        <!-- 타이틀 -->
        <div class="title-container">
          <h1 class="title">ZOM</h1>
          <h1 class="title">100</h1>
        </div>
        <!-- 서브타이틀 -->
        <div class="subtitle-container">
          <h3 class="sub-title">
            <p>MAKE YOUR OWN</p>
            <p>ZOM100</p>
            <p>BUCKET LIST OF THE DEAD</p>
          </h3>
        </div>
      </section>

      <!-- 하단section -->
      <section class="login-bottom">
        <!-- 버튼3개 -->
        <form action="">
          <input type="text" placeholder="EMAIL ADDRESS"  class="btn">
          <input type="password" placeholder="PASSWORD" class="btn">
          <button type="submit" class="btn start">START!</button>
        </form>
      </section>
      <!-- 최하단section -->
      <!-- 푸터 -->
      <section class="footer"><a href=""> copyright_Woo</a></section>
    </main>
  </div>
  <div class="popup none"></div>
</div>
</body>
</html>